.banner {
  justify-content: center;
  object-fit: cover;
  margin-left: 40px;
}

.banner-img {
  width: 1158px;
  height: 597px;
  object-fit: cover;
  border-radius: 20px;
}

.Player-title {
  font: Urbanist;
  font: Bold;
  font-size: 24px;
  line-height: 26px;
  vertical-align: middle;
}
